---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="py-20 flex flex-col justify-center items-center">
    <p class="text-8xl font-semibold">404</p>
    <h1 class="mt-4 text-2xl font-bold tracking-tightsm:text-5xl">Page not found</h1>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="/" class="my-4 hover:underline text-smBlue hover:text-smBlue-strong dark:text-purple-400 hover:dark:text-purple-500">Back to Home</a>
    </div>
  </div>
</Layout>
