---
import Navigation from "./Navigation.astro";
import Container from "../Container/Container.astro";
---

<header>
  <Container>
    <nav class="my-6">
      <Navigation />
    </nav>
  </Container>
</header>
