---
import ThemeIcon from "./ThemeIcon.astro";
---

<div class="flex gap-6 items-center pixelify-sans-400 text-lg">
  <a href="/" class="flex gap-2 hover:underline">Home</a>
  <a href="/about/" class="hover:underline">About</a>
  <a href="/blog/" class="hover:underline">Blog</a>
  <a href="/projects/" class="hover:underline">Projects</a>
  <ThemeIcon />
</div>
