---
import TimelineItem from "./TimelineItem.astro"
---
<div class="-my-6">
  <TimelineItem
    date="Sep, 2023"
    title="Software Engineer Intern"
    label="Saltmine"
    content={
      `
      Working on full-stack development for platform.
      Work with TypeScript, and use Elastic and Postgre DBs.
      `
    }
  />
  <TimelineItem
    date="Feb, 2023"
    title="Graduate Student"
    label="NUS-ISS"
    content={
      `
      Studied Graduate Diploma in Systems Analysis at National University of Singapore - Institute of Systems Science.
      `
    }
  />
  <TimelineItem
    date="Feb, 2021"
    title="Junior Web Developer"
    label="Seattle Consulting Myanmar"
    content={
      `
      Focused on frontend development and primarily used VueJS.
      Developed CSS Heavy, design centric interfaces. Worked with Rails for backend tasks.
      `
    }
  />
  <TimelineItem
    date="June, 2020"
    title="Graduated"
    label="University of Gloucestershire"
    content="Graduated with Computing Degree."
  />
</div>