---
import Container from "../Container/Container.astro";
---

<footer class="mt-20 sm:mt-40 pb-4">
  <Container>
    <div class="my-4">
      <div class="grid gid-cols-3 items-center">
        <div class="col-span-1">
          <div>
            <p class="text-xs uppercase font-medium tracking-tight">
              DEVELOPED BY
            </p>
            <p class="test-md uppercase font-semibold tracking-tight">
              Soe Min Thant
            </p>
          </div>
        </div>
        <div class="col-span-1 col-start-3">
          <!-- <div>
            <p class="text-xs text-right text-gray-700">
              This portfolio is built using
              <br />
              Astro + React and hosted on Vercel
            </p>
          </div> -->
          <div class="flex gap-2 justify-end">
            <a href="https://www.astro.build/" target="_blank" class="w-9 h-9 rounded-full flex items-center justify-center border border-gray-200 dark:border-0 dark:bg-zinc-800">
              <img class="w-5 h-5 dark:hidden" src="/techicons/Astro.png" alt="astro logo" />
              <img class="w-5 h-5 hidden dark:block" src="/techicons/Astro_Light.png" alt="astro logo" />
            </a>
            <a href="https://react.dev/" class="w-9 h-9 rounded-full flex items-center justify-center border border-gray-200 dark:border-0 dark:bg-zinc-800">
              <img class="w-5 h-5" src="/techicons/React.png" alt="react logo"/>
            </a>
            <a href="https://tailwindcss.com/" class="w-9 h-9 rounded-full flex items-center justify-center border border-gray-200 dark:border-0 dark:bg-zinc-800">
              <img class="w-5 h-5" src="/techicons/Tailwind CSS.png" alt="tailwind logo" />
            </a>
            <a href="https://vercel.com/" class="w-9 h-9 rounded-full flex items-center justify-center border border-gray-200 dark:border-0 dark:bg-zinc-800">
              <img class="w-5 h-5 mb-2 dark:hidden" src="/techicons/Vercel.png" alt="vercel logo" />
              <img class="w-5 h-5 mb-2 hidden dark:block" src="/techicons/Vercel_Light.png" alt="vercel logo" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </Container>
</footer>
