---
import Container from "../Container/Container.astro";
---

<footer class="mt-20 sm:mt-40 pb-4">
  <Container>
    <div class="my-4">
      <div class="grid gid-cols-3 items-center">
        <div class="col-span-1">
          <div>
            <p class="text-xs uppercase font-medium tracking-tight">
              DEVELOPED BY
            </p>
            <p class="test-md uppercase font-semibold tracking-tight">
              Soe Min Thant
            </p>
          </div>
        </div>
        <div class="col-span-1 col-start-3">
          <div>
            <p class="text-xs text-right text-gray-700">
              This portfolio is built using
              <br />
              Astro + React and hosted on Vercel
            </p>
          </div>
        </div>
      </div>
    </div>
  </Container>
</footer>
